<div class="workoutspage ">

<h2> Workout Exercices</h2>


<div class="wourkoutTemp row" >


<br>
          
        {{#each workouts}}
    <div class="col-md-4 grow">
        <form id="formWork" action="/workouts" method="POST">
        
        <h2 style="text-align: center;">{{this.exercise}}</h2>
        <p style="text-align: center;"> <a class="links " style="text-decoration: none; color: black;"  href="/workouts/{{ this._id }}">See Details</a> </p>

        <input type="text" name="exercise" value="{{this.exercise}}" style= "display:none">
        <input type="text" name="id" value="{{ this._id }}" style= "display:none">
        <p style="text-align: center;" id="voting"> Likes: <span>{{ this.voting }}</span></p>
       

        <label style=" vertical-align: middle;"    class="workoutType" for="muscle">Muscle-Group: <span>{{ this.muscle}}</span></label> 
        <button  type="submit" class="toWorkout">Add to workout</button>
        

        </form>
  

            </div>
    
          {{/each}}

        </div>

   

<div class="col-md-4 bWorOr" >
 <button class="bWorkout"  ><a style="text-decoration: none; color: black;" href="/">Back Home</a></button>
 <button class="bWorkout" > <a style="text-decoration: none; color: black;" href="/new">New Workout</a></button>
</div>

