<h2>Workout Details</h2>
<div>
<p>Name: {{ workouts.exercise }} </p>
<p>Difficulty: {{ workouts.difficulty }}  </p>
<p>Worksout: {{ workouts.repetitions }}  </p>
<p> Mulcle:  {{ workouts.muscle }} </p>
<p> Description: {{ workouts.description }} </p>
</div>

<p> <a href="/workouts">Back to Workouts</a> </p>


