<h2>Workout Details</h2>
<div>
<p>Name: {{ workouts.exercise }} </p>
<p>Difficulty: {{ workouts.difficulty }}  </p>
<p>Worksout: {{ workouts.repetitions }}  </p>
<p> Mulcle:  {{ workouts.muscle }} </p>
<p> Description: {{ workouts.description }} </p>
<p id="voting">Voting: <span>{{ workouts.voting }}</span></p>


<button class="upVote" id={{workouts._id}} voting={{workouts.voting}}>Up </button>

    <button class="downVote" id={{workouts._id}} voting={{workouts.voting}}>Down</button>



</div>


    <form action="/workouts/delete/{{ workouts._id }}" method="POST">
    <button type="submit">Delete</button>
    </form>




{{!-- Voting functionality --}}



<script>
  // Button for Voting Up
document.querySelector(".upVote").onclick=(e)=>{
  console.log("cheese is awsome")
  let id=e.target.id
  //axios
  axios.post(`/vote/${id}`).then(response=>{
let votingNumber=document.querySelector("#voting >span").innerText
let newNumber=parseFloat(votingNumber)+1    
document.querySelector("#voting >span").innerText=newNumber

console.log(response)
  })
}

// Button for Down Voting

document.querySelector(".downVote").onclick=(e)=>{
  console.log("cheese is down-awsome")
  let id=e.target.id
  //axios
  axios.post(`/vote/${id}`).then(response=>{
let votingNumber=document.querySelector("#voting >span").innerText
let newNumber=parseFloat(votingNumber)-1    
document.querySelector("#voting >span").innerText=newNumber

console.log(response)
  })
}


</script>



