
<div class="pageWel">

<h1>Welcome to IronFitness</h1>

<p>Sign up for free and create your own workout, get inspired by others and motivate yourself!</p>

{{#each user.list}}
   <a href="/workouts/{{this.id}}"> <p>{{this.exercise}}</p></a>
{{/each}}



<div class="welDiv">
<p> Welcome {{#if user}}{{user.username}}{{/if}} </p>
</div>

<div class="welDiv2 marwelDiv2">
<h3>Hey {{user.username}}, here are yourlisted workouts:</h3>
</div>

   
<div class="welDiv">
{{#each user.list}}
   <a style="text-decoration: none; color: black;" href="/workouts/{{this.id}}"> <p>{{this.exercise}}</p></a>
{{/each}}



</div>
